/* -global variables start- */
/*font */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #222;
}
h3{
  font-size: 16px;
}
h2{
  margin-left: 40px;
}
h2, .blue{
  color: #3ebeda;
}

h2, .green{
  color:#6fc460;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 26px;
}
li{
  list-style-type: circle;
}
nav li{
  list-style-type: none;
}

.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
  text-align: center;
}

/* -global variables end- */



.carousel-inner{
  width:100%;
  height: 400px !important;
}

.carousel-inner img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}



.jumbotron {
  background-color: #fff !important;
}

.facts {
  padding: 2rem 5rem;
}

.facts .row img {
  padding-bottom: 2rem;
  width:500px;
}

.change {
  padding-bottom: 3rem;
}

.mission {
  padding: 2rem 0;
}



.home_highlight_fact{
  font-size: 18px;
  color:#3ebeda;
}
[class*="col-"] {
  padding: 1rem;
}


/* media queries */
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}






/* Adrianne CSS */

/*About Page Start*/
#about_Monroe_container, #about_TeamLeads_container{
  display: flex;
  flex-direction: row;
  margin:40px;
  border-bottom: 1px solid lightgray;
}
#about_Monroe_text{
  flex:1.5;
  order:1;
  margin-right: 40px;
}
#about_Monroe_image{
  width:400px;
  height:400px;
  flex:1;
  order:2;
  margin-left: 40px;
  margin-bottom: 25px;
}

#about_Team_Lead1{
  width:300px;
  height:300px;
  flex:1;
  order:1;
  margin-left: 40px;
}
#about_Team_Lead2{
  width:300px;
  height:300px;
  flex:1;
  order:2;
  margin-left: 40px;
}
#about_Team_Lead3{
  width:300px;
  height:300px;
  flex:1;
  order:1;
  margin-left: 40px;
}

#about_TeamLeads{
  text-align: center;
  margin-bottom: 30px;
}

#about_subteams{
  text-align: center;
}
.about_figcap{
  text-align: center;
  padding-left: 20px;
  font-size: 14px;
  margin-top: 15px;
}
a:link, a:visited, .about_subteam_link{
  color:white;
  text-align: center;
  font-size: 35px;
}

#about_banner {
  background-image: url("../images/about_banner.jpg");
  height:50%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom:30px;
  opacity: .95;
}

#about_Who_We_Are_title{
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  padding-top: 60px;
  text-shadow: 0px 0px 3px black;

}

#about_Who_We_Are_txt {
    font-weight: 400;
    width:800px;
    font-size: 17px;
    text-align: center;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 3px black;
}


#Subteams_Container, #ST_Container{
  display: flex;
  flex-direction: column;
  margin: 30px;
}
#Subteams_SubC1, #Student4{
  flex:1;
  order:1;
  display: flex;
  flex-direction: row;
}
#Subteams_SubC2, #Student5{
  flex:1;
  order:2;
  display: flex;
  flex-direction: row;
}
#GoingGlobal,#Apps_and_Algorithms{
  flex:1;
  order:1;
}
#Lab_Research,#Fabrication{
  flex:1;
  order:2;
}

#GoingGlobal{
  width: 450px;
  height:450px;
  background-color:#1A4F5A;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Apps_and_Algorithms{
  width: 450px;
  height:450px;
  background-color: #6FC460;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Lab_Research{
  width: 450px;
  height:450px;
  background-color: #83CFE0;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Fabrication{
  width: 450px;
  height:450px;
  background-color:#12380B;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
/*About Page End*/
/*Fabricaiton Page Start*/
#fabrication_title{
  text-align: center;
  margin-bottom: 30px;
}

.fabrication_team_container{
  display: flex;
  flex-direction: row;
  margin:40px;
}
.fabrication_boarder{
  height: 15px;
  background:
  linear-gradient(135deg, white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px),
  linear-gradient(225deg,  white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px)0 64px;
  background-color:#83CFE0;
  background-size: 64px 128px
}
.fabrication_boarder_2{
  height: 15px;
  background:
  linear-gradient(135deg, white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px),
  linear-gradient(225deg,  white 22px, white 24px, transparent 24px, transparent 67px, white 67px, white 69px, transparent 69px)0 64px;
  background-color:#6FC460;
  background-size: 64px 128px
}


#fabrication_team_1_txt, #fabrication_team_2_text, #fabrication_team_3_txt, #fabrication_team_4_text{
  flex:1;
  order:1;
  margin-right: 40px;
}
#fabrication_team_1_image, #fabrication_team_3_image, #fabrication_team_2_image, #fabrication_team_4_image {
  width:400px;
  height:400px;
  flex:1;
  order:2;
  margin-left: 40px;
}
.fabrication_team_members{
  flex:1;
  order:3;
  margin-left: 40px;
  margin-bottom: 25px;
  padding:20px;
}
.fabrication_team_members li{
  padding:20px;
}
























































/* // shoshana css */

.joinus_banner{

  background-image: url("../images/StudentsWorkingLab_wide.jpg");
  height:50%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom:30px;
  opacity: .95;


/* width: 70%;
height: 50%;
background-image: url("../images/joinus1.jpg"); */

/* Set a specific height */
/* height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.joinus_testimonial1{
display: flex;
flex-direction: row;
}

.joinus_testimonial_image{
justify-content: flex-start;
flex: 1;
order: 0;
padding: 20px;
}
.joinus_testimonial_paragraph{
flex: 1;
order: 0;
padding: 20px;
}
.joinus_testimonial_image{
height: 50%;
width: 30%;

}
.joinus_bold{
font-style: italic;
}
