/* -global variables start- */
/*font */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #222;
}
h3{
  font-size: 20px;

}
h2{
  /* margin-left: 40px; */
  font-size: 40px;
}
h2, .blue{
  color: #3ebeda;
  font-size: 40px;
}

h2, .green{
  color:#6fc460;
  font-size: 40px;
}

h1, .white{
  color:#FFF;
  font-size: 50px;
}

greybg {
  background-color:#FAFAFA;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

li{
  list-style-type: circle;
  font-size: 18px;
  font-weight: lighter;
}

nav li{
  list-style-type: none;
}

figcaption{
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

figure{
    text-align: center;
}

.navbar {
  padding: 0.8rem;
  background-color: #FFF;
  transition: all ease .5s;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
  text-align: center;
}

.navbar.changenav {
  opacity: 0.7;
  transition: all ease .5s;
}

.footer-text {
  color: white;
}

.footer-col {
  padding: 3rem 0 0 3rem;
}

/* -global variables end- */

.landing-page {
  background-image: url("../images/banner_homepage.JPG");
  background-repeat: no-repeat;
  background-attachment: center center;
  background-position: center;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 3px 3px 15px #000;
}

.facts {
  padding: 5rem 5rem 4rem 5rem;
}

.facts img {
  padding-bottom: 2rem;
  width:500px;
}

.home_highlight_fact{
  font-size: 18px;
  color:#3ebeda;
  line-height: 3rem;
}

.jumbotron {
  padding: 5rem 5rem;
}

.mission {
  padding: 2rem 0 4rem 0;
}

#info{
  padding: 1rem 2rem 1rem 4rem;
  line-height: 26px;
}

.mission img{
  padding: 2rem 1rem 2rem 0rem;
  width: 500px;
  display: block;
  margin: auto;
}

.video {
  background-color: #FAFAFA;
  padding-top: 60px;
  padding-bottom: 80px;
}

.videotitle {
  margin-bottom: 25px;
}

.videowrapper {
  margin: auto;
}

.footer {
  background-color: #1a4f5a;
}

[class*="col-"] {
  padding: 1rem;
}


/* media queries */
@media (max-width: 992px){
  h1, .white{
    font-size: 35px;
  }

  .footer-text {
    text-align: center;
  }
}


@media (max-width: 768px){
  h1, .white{
    font-size: 30px;
  }

  .mission img{
    padding: 0rem 1rem;
  }

  #info{
    padding: 1rem 2rem;
    text-align: center;
  }

}

@media (max-width: 576px){
  h1, .white{
    font-size: 20px;
  }

  .navbar-brand img {
    height: 50px;
  }

  .mission img{
    padding: 0rem 1rem;
  }

  #info{
    padding: 1rem 2rem;
    text-align: center;
  }
}





/* Adrianne CSS */

/*About Page Start*/
#about_Monroe_container, #about_TeamLeads_container{
  display: flex;
  flex-direction: row;
  margin:40px;
}
#about_Monroe_text{
  flex:1.5;
  order:1;
  margin-right: 40px;
  padding-top:40px;
  padding-left: 20px;
}
#about_Monroe_image{
  width:400px;
  height:400px;
  flex:1;
  order:2;
  margin-left: 40px;
  margin-bottom: 25px;
}

#about_Team_Lead1{
  flex:1;
  order:1;
  margin-left: 40px;
}
#about_Team_Lead2{
  flex:1;
  order:2;
  margin-left: 40px;
}
#about_Team_Lead3{
  flex:1;
  order:3;
  margin-left: 40px;
}

.about_Team_Lead_image{
  width:300px;
  height:300px;
}

.about_header{
  text-align: center;
  margin-bottom: 30px;
  margin-top:30px;
  font-size: 40px;
}

#about_subteams{
  text-align: center;
  font-size: 55px;
  margin-top: 60px;
  margin-bottom: 30px;
}
a:link, a:visited{
  color:white;
  text-align: center;
  font-size: 35px;
}

.about_subteam_link{
  color:white;
  text-align: center;
  font-size: 80px;
  padding-top: 14%;
  margin:auto;
  font-weight: normal;

}


#about_banner {
  background-image: url("../images/about_banner.jpg");
  height:60%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#about_title{
  color:white;
  font-size: 65px;
  text-align: center;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 4px black;

}

#about_Who_We_Are{
  text-align: center;
  padding-top:55px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 70px;
}
#about_Who_We_Are_txt{
  font-size: 28px;
  line-height: 26px;
  font-weight: 300;
}



#Subteams_Container{
  display: flex;
  flex-direction: column;

}
#Subteams_SubC1, #Student4{
  flex:1;
  order:1;
  display: flex;
  flex-direction: row;
}
#Subteams_SubC2, #Student5{
  flex:1;
  order:2;
  display: flex;
  flex-direction: row;
}
#GoingGlobal,#Apps_and_Algorithms{
  flex:1;
  order:1;
}
#Lab_Research,#Fabrication{
  flex:1;
  order:2;
}

#GoingGlobal{
  background-image: url("../images/global_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  50% 70%;
  width: 450px;
  height:450px;
  background-color:#1A4F5A;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Apps_and_Algorithms{
  background-image: url("../images/apps_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  50% 70%;
  width: 450px;
  height:450px;
  background-color: #1B7169;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Lab_Research{
  background-image: url("../images/lab_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  50% 70%;
  width: 450px;
  height:450px;
  background-color: #1B4C71;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

#Fabrication{
  background-image: url("../images/building_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  50% 70%;
  width: 450px;
  height:450px;
  background-color:#196749;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
/*About Page End*/

/*Fabricaiton Page Start*/

#fabrication_banner {
  background-image: url("../images/fabrication_banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size:  100% 100%;
  position: relative;
  height:50%;
  margin-top: 10px;
  opacity: .95;
  margin-bottom: 15px;
}
#fabrication_title{
  color:white;
  font-size: 65px;
  text-align: center;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 4px black;
}

.fabrication_team_name{
  text-align: center;
  margin-top:20px;
}
.fabrication_color1{
  padding-top:15px;
}
.fabrication_color2{
  padding-top:15px;
  background-color: #FAFAFA;
}
.fabrication_team_container{
  padding-left:40px;
  padding-right:40px;
  display:none;
}

.fabrication_txt{
  line-height: 30px;
  padding-top:30px;
  padding-left:20%;
  padding-right:20%;
  padding-bottom:30px;
  color:white;
  background-color:#196749;
  opacity: .75;
}
/* .fabrication_team_container{
  display: flex;
  flex-direction: row;
  padding:40px;
  display:none;
}

.fabrication_txt{
  padding:30px;
  flex:1;
  order:1;
  margin-right: 40px;
}

.fabrication_team_members{
  flex:1;
  order:2;
  margin-left: 40px;
  margin-bottom: 25px;
  padding:20px;
} */
.fabrication_team_members li{
  padding:20px;
}

#fabrication_team1, #fabrication_team2, #fabrication_team3, #fabrication_team4{
  cursor:pointer;
}





















































/* // shoshana css */

.joinus_banner{

  background-image: url("../images/StudentsWorkingLab_wide.jpg");
  height:50%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom:30px;
  opacity: .95;


/* width: 70%;
height: 50%;
background-image: url("../images/joinus1.jpg"); */

/* Set a specific height */
/* height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.joinus_testimonial1{
display: flex;
flex-direction: row;
}

.joinus_testimonial_image{
justify-content: flex-start;
flex: 1;
order: 0;
height: 80%;
width: 80%;
margin-left: 20px;
margin-top: 20px;


}
.joinus_testimonial_image_2{
justify-content: flex-start;
flex: 2;
order: 0;
/* padding: 20px; */
height: 90%;
width: 90%;
margin-left: 20px;
margin-top: 20px;

/* margin-top: 20px; */
}
.joinus_testimonial_paragraph{
  justify-content: flex-start;
flex: 1;
order: 0;
margin-top: 90px;
margin-left: 20px;
padding-left: 20px;
padding-right: 20px;
/* padding: 20px; */
}
.joinus_testimonial_paragraph_2{
flex: 2;
order: 1;
margin-top: 90px;
margin-left: 20px;

}
.joinus_banner{
  background-image: url("../images/StudentsWorkingLab_wide.jpg");
  height:50%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom:30px;
  opacity: .95;
}
.joinus_title{
  text-align: center;
  color: white;
  top: 100%;
  padding-top: 60px;
  text-shadow: 0px 0px 3px black;
}
/* .joinus_txt{
  font-weight: 400;
  width:800px;
  font-size: 17px;
  text-align: center;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 3px black;
} */
.joinus_italic{
font-style: italic;
}
.joinus_bold{
font-weight: bold;
}
.joinus_mission_title{
align-content: center;
align-items: center;
display: block;
}
.joinus_hammock{
  max-width: 100%;
  width: auto;
  /* height: auto; */
  margin-right: 25%;
  margin-left: 25%;
    max-height: 100%;
  align-items: center;
width: 50%;
padding-bottom: 20px;
  }
.joinus_description{
margin-left: 10%;
align-content: center;
align-self: center;
display: block;
margin-right: 10%;
padding: 30px;
text-align: center;
line-height: 28px;
/* font-size: 17px; */

}
.joinus_why{
  color:#6fc460;
  /* align-items: center; */
  /* margin-right: 25%; */
  margin-left: 25%;
margin-right: 25%;
padding: 30px;
text-align: center;
}
.joinus_courses{
  margin-left: 25%;
margin-right: 25%;
padding: 30px;
text-align: center;
color: #3ebeda;


}
.joinus_name{
margin-left: 15%;
margin-right: 10%;
font-style: italic;
padding-right: 20px;
padding-left:20px;
}
.joinus_container_testimonial{
padding:20px;
}
#joinus_info_header{
text-align: center;
margin-left: 25%;
margin-right: 25%;
}
.joinus_recruitment{
text-align: center;
}
.class1{
flex: 1;
order: 1;
  /* float: left; */
  width: 250px;
  height: 250px;
  /* margin: 5px; */
  background: #3ebeda;

}
.class2{
flex: 1;
order: 3;
  /* float: right; */
  width: 250px;
  height: 250px;
/* margin-left: 25%; */
  background: #3ebeda
;
}
.class3{
flex: 1;
order:2;
align-content: center;
width: 250px;
height: 250px;
background: #3dd676;
/* margin-left: 50%; */


}
.joinus_undergrad{
margin-left: 5%;
margin-right: 5%;
padding: 10px;
}
.joinus_coursesflex{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
.joinus_flextitle{
font-weight: bold;
text-align: center;
font-size: 25px;

}
.joinus_international{
margin-left: 5%;
margin-right: 5%;
padding: 10px;

}
.joinus_graduate{
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;

}
